@import "https://fonts.googleapis.com/css?family=Open+Sans:300";

body {
    padding-top: 100px;
    padding-bottom: 20px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 0;
    padding-right: 0;
}

body.modal-open, .modal-open .navbar-fixed-top, .modal-open .navbar-fixed-bottom{
    margin:0;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

textarea{
    min-height: 130px;
}

input[type=number]{
    max-width:100px;
}

input[type=checkbox]{
    border:none;
    height:20px;
    width:20px;
    padding:5px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display:inline-block;
    content: "[";
    padding-right: 0.5em;
}
.btn-bracketed::after {
    display:inline-block;
    content: "]";
    padding-left: 0.5em;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"]
{
    width: 100%;
}

.navbar{
    min-height:100px;
}

.navbar-brand{
    background: url('../images/main-logo.svg');
    background-size:cover;
    width:300px;
    height:80px;
    margin-top:10px;
}

.navbar-nav{
    margin-left:10px;
    margin-top:30px;
}

.navbar-fixed-top{
    background-color:white;
    border-bottom:3px solid #7E278C;
}

.nav > li > a{
    color:#7E278C;
    font-size:16px;
}

.navbar-toggle .icon-bar{
    background-color:#7E278C;
}

.navbar-toggle{
    margin-top:15px;
}

.row{
    margin:0;
}

.container-fluid .jumbotron{
    background: url('../images/jumbo-back.jpeg') center;
    background-size:cover;
    border-radius:0;
    color:white;
}

.jumbotron p{
    font-weight:lighter;
    font-size:28px;
    width:100%;
    max-width: 550px;
    text-shadow: 0 0 10px black;
    padding:20px;
    border-radius:20px;
    transform: translate(0,0);
    display:block;
}

#login-link{
    margin:10px;
}

footer p{
    margin:10px;
}

#add-new-entity{
    padding: 20px 0 0 0;
}

.entity-main-picture {
    width: 100%;
    position:relative;
}

.edit-entity-wrapper{
    border: 1px solid #ccc;
    border-radius:10px;
    padding: 0;
    margin:5px;
    height:220px;
    overflow:hidden;
    background-size: cover;
    background-position: center center;
}

.edit-entity-wrapper .titles {
    background-color: rgba(0,0,0,0.8);
}

.edit-entity-wrapper h3{
    color:white;
    margin-top:0;
    margin:0 20px 0 0;
    padding: 10px 10px 0 10px;
    word-wrap: break-word;
}

.edit-entity-wrapper h5{
    color:white;
    margin-top:0;
    margin:0 0 10px 0;
    padding: 10px;

}

.edit-entity-wrapper h3, h5{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.modal{
    overflow-y:auto;
}

.modal-open{
    overflow:auto;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none
  }

  .navbar-brand{
    width: 164px;
    height: 50px;
    margin-left:10px;
    margin-top:10px;
  }

  .navbar{
    min-height:70px;
  }
}