@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p>Podrás encontrar la propiedad que más se adapte a tus necesidades.
    <br/>
    <br />
    Tenemos la experiencia, seriedad y responsabilidad en la mejor atención.</p>
</div>

<div class="row index-entities-wrapper">
    @{
        foreach (Entity entity in Model.Entities)
        {
            string main_picture_src = String.Empty;
            if (entity.Properties.FirstOrDefault(p => p.Name == EnumConst.PropertyNameMainPicture) != null)
            {
                main_picture_src = @Url.Content(string.Format(EnumConst.EntityImagesPath + "/{2}", "", entity.Id, entity.Properties.FirstOrDefault(p => p.Name == EnumConst.PropertyNameMainPicture).Value));
            }
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <div class="row index-entity-wrapper" style="background-image:url('@Html.Raw(main_picture_src)')">
                    <div class="titles-background">
                        <div class="titles">
                            <h3>@entity.Name</h3>
                            <h5>@entity.Description</h5>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>