@using Acrossud.Views.Helpers;
@{
    ViewBag.Title = "Acrossud";
}

<div class="jumbotron">
    <p>Podrás encontrar la propiedad que más se adapte a tus necesidades.
    <br/>
    <br />
    Tenemos la experiencia, seriedad y responsabilidad en la mejor atención.</p>
</div>

<div class="main-title-wrapper">
    <h2 class="main-title">Destacadas</h2>
</div>
<div class="index-entities-wrapper">
    @Html.Partial("EntitiesCollection");
    <a class="col-xs-12 col-sm-6 col-md-4 col-lg-4 vcenter index-entity-wrapper" href="@Url.Action("GetAllActiveEntities")">
        <div id="more-properties-cell">Ver más</div>
    </a>
</div>